.body-bg {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5396533613445378) 0%, rgba(96,9,121,1) 28%, rgba(113,0,255,1) 100%);
}

.dark-purple {
    background-color: purple;
}

.light-purple {
    background-color: #D8BFD8;
}